body{
    font-family: sans-serif;
    margin: 0px;
}
section{
    height:100vh;
}

.sec1{
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border-bottom: 1px solid white;

}

header .container{
    display: flex;
    justify-content: space-between;
    padding:15px;
}
header{
    padding: 10px;
    height: 150px;
}




.box img{
    height:75px;
    
}
.box img:hover{
    border: 10px double black;
    border-radius: 20px;
    padding: 0px;
}
.box img:active{
    border-color: white;
}

ul{
    list-style-type: none;
    display: flex;
}

ul li{
    margin:20px;
    font-size: 20px;
}
ul li:hover{
    border:3px double black;
    padding:5px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color:black
}
.sm{
    margin-top:45px
}
.sm a{
    color: black;
    font-size: 20px;
    padding:8px
}
.sm a:hover{
   
    border:2px solid black;
    padding:10px;
    border-radius: 200px;
    
}
.main{
    display: flex;
    justify-content: space-between;
    margin:50px;
    height: 450px;
}


.main img{
    width: 450px;
    border:8px double black;
    border-radius: 90px;
}
.main .abcd{
    text-align: left;
    padding:100px;
    font-size: 25px;
    position: relative;
    top:150px;
    height: 150px;
    padding-top: 0px;
    margin-left: 50px;
}

.abcd h3{
    margin:0px;
    padding: 0px;
    font-size: 35px;
}
.abcd h1{
    margin:0px;
    padding: 0px;
    font-size: 50px;
}
.abcd p{
    margin:0px;
    padding: 0px;
    margin:0px
}
.sec2{
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border-bottom: 1px solid white;



}

.sec2 h1{
    margin-top:0px;
    text-align: center;
    padding:100px;
    font-size:50px ;
    text-decoration:underline;


    
}
.skills img{
    width: 120px;
    height: 140px;
    padding:20px;
    text-align: center;
    margin-left:50px ;
}
.skills{
    display: flex;
    justify-content: space-around;
}

.skills p{
    text-align: center;
    width: 170px;
    font-size: 19px;
    width: 250px;
    margin: 10px;
    margin-top: 50px;
    
    
}
.skills div:hover{
    border:5px double black;
    border-radius: 20px;

}


.sec3{
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border-bottom: 1px solid white;



}

.sec3 h1{
    margin-top:0px;
    text-align: center;
    padding:75px;
    font-size:50px ;
    text-decoration:underline;




}


.xyz i{
    font-size: 90px;

}

.xyz p{
    font-size: 25px;
}

.xyz{
    margin: 90px;
    position: relative;
    bottom: 90px;
}




.sec4{
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    border-bottom: 1px solid white;



}

.sec4 h1{
    margin-top:0px;
    text-align: center;
    padding:75px;
    font-size:50px ;
    text-decoration:underline;
}

.sec4 embed{
   width: 1380px;
    height:637px;
    position: relative;
    left: 70px;
    bottom: 60px;
    border-radius: 50px ;
    

}


.sec5{
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;


}

.sec5 .cont{
    padding:50px;
    display: flex;
    justify-content: center;
}

.sec5 h3{
    font-size: 30px;
    margin: 20px;
}

.diwakar{
    display: flex;
}

.enquiry{
    font-size: 20px;
    text-align: center;


}
.enquiry #fgh{
    display: flex;
    margin: 30px;
    margin-left: 230px;
    width: 600px;
    align-items: center;
    border:5px double black;
    border-radius: 115px;
}

#fgh i{
    font-size: 50px;
    margin-right: 45px;
    text-align: center;
    padding: 25px;
}

#fgh a:hover{
    border:4px double black;
    border-radius: 15px;

}
.mobile img{
    width: 20px;
}


    

footer {

    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color:rgb(233,225,223);
    height:230px;
    height:230px

}

.lmn i{
    font-size: 25px; 
}
.lmn{
    display: flex;
    justify-content: space-between;
    width: 400px;
}



.foot .about{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    width: 700px;
    font-size: 20px;

}

.foot .bottom{
    position: relative;
    top:100px;
}

.about div:hover{
    text-decoration: underline;

}

.lmn i:hover{
    border:5px double black;
    border-radius: 10px;
}